:root {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: rgb(225, 225, 225);
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}

h2 {
  border-bottom: 1px solid black;
}

li {
  font-size: 1.3rem;
}

.wide_text_field {
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px;
}

input {
  font-size: 1.5rem;
}

#equation {
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

#balance {
  transition: all 0.05s ease;
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

#balance:hover {
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(213, 213, 213);
}

#balance:active {
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(240, 240, 240);
}

#equation_label {
  font-size: 1.3rem;
}

#balanced_equation {
  font-size: 1.3rem;
}

#periodic_table {
  width: 80%;
  max-width: 1000px;
}